.alert-green {
  background-color: rgb(192, 219, 192);
  border: 2px rgb(137, 213, 137) solid;
  padding: 1em 3em;
  border-radius: 6px;
  margin: 3em 3em 1em 3em;
}

.alert-info {
  background-color: rgba(52, 37, 120, 0.2);
  padding: 2em 3em;
  border-radius: 4px;
  margin-top: 2em;
}

.position-content {
  padding: 24px 48px 0px 48px;
}

.size-side {
  height: 100vh;
  display:flex;
  align-items: center;
  flex-direction: column;
}

.med-icon {
  font-size: 2.2em;
  padding-top: 1.6em;
  margin-bottom: 0.6em;
  color: var(--bs-blue);
}

.big-icon {
  font-size: 3.2em;
  padding-top: 0.6em;
  margin-bottom: 0.6em;
  color: rgb(234, 234, 105);
}

.sidebar {
  background-color: rgb(220, 220, 220);
  height: 100vh;
}

.title-position {
  margin-top: 1.6em;
  margin-bottom: 1em;
}

.title-position-grid {
  margin-top: 1.6em;
  margin-bottom: 1em;
  margin-left: 24px;
}

.title-form {
  margin-top: 1.6em;
  margin-bottom: 0.8em;
}

.btn-margin-y {
  margin-bottom: 1.6em;
  margin-top: 1.2em;

}

.italic {
  font-style: italic;
}

.info-side {
  font-size: 0.8em;
}

.full-height {
  height: 100%;
}

.center {
  margin: 0 auto;
}

.medium-font {
  font-size: 1.2em;
  color: white;
}

.bg-ekpa {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://images.unsplash.com/photo-1552960366-b330a2f83823?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80");
  background-size: cover;
  background-position: center;
  height: 30vh;
}

.duo-info {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80");
  background-size: cover;
  background-position: center;
  margin-bottom: 24px;
  padding: 56px 0px 56px 0px;
}

.light-font {
  color: white;
}

.box-small-light {
  height: 80px;
  background-color: ($light-blue);
  margin: 0em 0em 2em 0em;
  align-items: center;
  border-radius: 4px;

  p {
    margin: 0;
  }
}

.font-big {
  font-size: 1.4em;
}

.column-image {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url("https://images.unsplash.com/photo-1474631245212-32dc3c8310c6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1324&q=80");
  background-size: cover;
  background-position: center;
  height: calc(100% - 2em);
  border-radius: 4px;
}

.med-icon {
  font-size: 1.6em;
}

.img-full {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url("https://images.unsplash.com/photo-1622260872090-5c558010a67e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80");
  background-size: cover;
  background-position: center;
  margin-right: 12px;
  width: 400px;
}

.mt-8 {
  margin-top: 5em;
}

.card-process {
  background-color: rgba(52, 37, 120, 0.2);
  padding: 2em 2em 2em 2em;
  margin: 6px;
  border-radius: 4px;
  width: 20%;
  word-wrap: break-word;
}

.strong-link {
  text-decoration: underline;
}

.light-pic {
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url("https://images.unsplash.com/photo-1557426272-fc759fdf7a8d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80");
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: 100%;
}
