.alert-green {
  background-color: rgb(192, 219, 192);
  border: 2px rgb(137, 213, 137) solid;
  padding: 1em 3em;
  border-radius: 6px;
  margin: 3em 3em 1em 3em;
}

.position-content {
  padding: 24px 48px 0px 48px;
}

.center {
  margin: 0 auto;
}

// .side-light {
//   color: white;
// }

.big-icon {
  font-size: 2em;
  padding-top: 12px;
}

.row-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.bg-side {
  background-color: aliceblue;
}
