.alert-green {
  background-color: rgb(192, 219, 192);
  border: 2px rgb(137, 213, 137) solid;
  padding: 1em 3em;
  border-radius: 6px;
  margin: 3em 3em 1em 3em;
}

.position-content {
  padding: 24px 48px 0px 48px;
}

.size-side {
  height: 100vh;
  display:flex;
  align-items: center;
  flex-direction: column;
}

.big-icon {
  font-size: 2em;
  padding-top: 1.6em;
  margin-bottom: 1em;
  color: var(--bs-blue);
}

.bg-side {
  background-color: rgb(180, 180, 180);
}
