// Specific CSS for your home-page
a {
  text-decoration: none;
}

.btn-main {
  background-color: $blue;
  width: fit-content;
  padding: 1em 2em 1em 2em;
  border-radius: 4px;
  color: white;
}

.bloc-small {
  padding: 2em 2em 2em 2em;
  background-color: $light-gray;

  p {
    font-size: 1.2em;
    padding: 1em;
    font-family: Ubuntu, sans-serif;
    text-align: center;
  }
}

.bloc-medium {

}

.square {
  background-color: $blue;
  height: 250px;
  width: 250px;
  border-radius: 4px;
  padding: 2em;
  text-align: center;
  margin-bottom: 2em;

  p {
    color: white;
  }
}

.avatar-w {
  background-image: (rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1552960366-b330a2f83823?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80');
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
