@media(max-width: 1400px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
  .banner {
    padding: 80px 60px;
  }

  .sidebar {
    display: none;
  }

  .icon-bar {
    display: block;
  }
}

@media(max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }
  .banner {
    padding: 60px 40px;

    h1 {
      text-align: justify;
    }
  }
  .img-full {
    display: none;
  }
  .duo-info {
    display: block;
    .btn-primary {
      margin-bottom: 3em;
    }
  }
  .column-image {
    display: none;
  }
  .icon-orga {
    display: block;
    text-align: center;
    margin-bottom: 2em;
  }

  .bg-ekpa {
    width: 100%;
  }

  .contact-box {
    width: 100%;
  }
}
