<div class="footer">
  <div class="footer-links ps-5">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright pe-5">
    <p>Pour en savoir plus sur votre compte CPF cliquez sur <a href="/mon_cpf">ce lien</a> <i class="fa-regular fa-hand-point-left"></i></p>
  </div>
</div>
