<div class="footer">
  <div class="footer-links ps-5">
    <a href="https://www.instagram.com/ekpa_france/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/EKPA-100984992715726/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/EKPAFORMATION"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/company/ekpafrance/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright pe-5 ps-3">
    <p>Pour en savoir plus sur votre compte CPF cliquez sur <a href="/mon_cpf">ce lien</a> <i class="fa-regular fa-hand-point-left"></i></p>
  </div>
</div>
