<div class="row">
  <div class="col-7 bg-primary px-5">
    <div class="container">
      <div class="m-4">
        <h1 class="text-white">Contact</h1>
        <p class="text-white">Nos équipent sont à votre écoute. Si vous souhaitez nous envoyer un mail, nous vous invitons à remplir le formulaire ci-dessous.</p>
      </div>
      <div class="w-75 center">
        <div class="center d-flex align-items-center mb-3">
          <div class="bg-icon">
            <i class="fa-solid fa-phone fa-vc med-icon mx-4"></i>
          </div>
          <p class="font-big m-0">06.59.91.84.56</p>
        </div>
        <div class="center d-flex align-items-center mb-3">
          <div class="bg-icon">
            <i class="fa-solid fa-envelope fa-vc med-icon mx-4"></i>
          </div>
          <p class="font-big m-0">ekpafr@gmail.com</p>
        </div>
        <div class="center d-flex align-items-center mb-3">
          <div class="bg-icon">
            <i class="fa-solid fa-location-dot fa-vc med-icon mx-4"></i>
          </div>
          <p class="font-big m-0">22 Avenue Louis de Foix, Bayonne</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="column-image">
    </div>
  </div>
  <div class="col-12" style="height:80vh;">
  </div>
</div>
