<div class="container">
  <h1 class="title-position">Contact</h1>
  <div class="row">
    <div class="col-9">
      <div class="box-small-light center">
        <div class="d-flex center">
          <i class="fa-solid fa-phone font-big"></i>
          <p class="font-big">06.59.91.84.56</p>
        </div>
      </div>
      <div class="box-small-light center">
        <div class="d-flex center">
          <i class="fa-solid fa-envelope font-big"></i>
          <p class="font-big">ekpafr@gmail.com</p>
        </div>
      </div>
      <div class="box-small-light center">
        <div class="d-flex center">
          <i class="fa-solid fa-location-dot font-big"></i>
          <p class="font-big">22 Avenue Louis de Foix 64100 Bayonne
          </p>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="column-image">
      </div>
    </div>
  </div>
</div>
