<div class="container">
  <h1 class="title-position">Contact</h1>
    <div class="">
      <p>06.59.91.84.56</p>
    </div>
    <div class="">
      <p>ekpafr@gmail.com</p>
    </div>
    <div>
      <p>
        22 Avenue Louis de Foix
        64100 Bayonne
      </p>
    </div>
</div>
