<div class="container">
  <h1 class="title-position">Contact</h1>
  <div class="row">
    <div class="col-6">
      <div class="box-small-light center d-flex align-items-center">
        <i class="fa-solid fa-phone med-icon mx-4"></i>
        <p class="font-big">06.59.91.84.56</p>
      </div>
      <div class="box-small-light center d-flex align-items-center">
        <i class="fa-solid fa-envelope med-icon mx-4"></i>
        <p class="font-big">ekpafr@gmail.com</p>
      </div>
      <div class="box-small-light center d-flex align-items-center">
        <i class="fa-solid fa-location-dot med-icon mx-4"></i>
        <p class="font-big">22 Avenue Louis de Foix 64100 Bayonne</p>
      </div>
    </div>
    <div class="col-6">
      <div class="column-image">
      </div>
    </div>
  </div>
</div>
