<div class="container">
  <h1 class="title-small-light">Contact</h1>
    <div class="box-small-light">
      <div class="w-50">
        <i class="fa-solid fa-phone"></i>
        <p>06.59.91.84.56</p>
      </div>
    </div>
    <div class="box-small-light">
      <div class="w-50">
        <i class="fa-solid fa-envelope"></i>
        <p>ekpafr@gmail.com</p>
      </div>
    </div>
    <div class="box-small-light">
      <div class="w-50 d-flex">
        <i class="fa-solid fa-location-dot"></i>
        <p>
          22 Avenue Louis de Foix
          64100 Bayonne
        </p>
      </div>
    </div>
</div>
