<div class="row">
  <div class="col-12 col-lg-7 bg-primary px-5 pb-3">
    <div class="container">
      <div class="m-4">
        <h1 class="text-white my-5">Contact</h1>
        <p class="text-white">Nos équipes sont à votre écoute ! Si vous souhaitez nous contacter, nous vous invitons à remplir le formulaire ci-dessous ou nous contacter par téléphone</p>
      </div>
      <div class="w-75 center">
        <div class="center icon-orga">
          <i class="fa-solid fa-phone fa-vc med-icon"></i>
          <p class="font-big m-0">06.59.91.84.56</p>
        </div>
        <div class="center icon-orga">
          <i class="fa-solid fa-envelope fa-vc med-icon"></i>
          <p class="font-big m-0">ekpafr@gmail.com</p>
        </div>
        <div class="center icon-orga">
          <i class="fa-solid fa-location-dot fa-vc med-icon"></i>
          <p class="font-big m-0">Bayonne, Nouvelle-Aquitaine</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-5 p-0">
    <div class="column-image">
    </div>
  </div>
  <div class="col-12" style="height:80vh;">
  </div>
</div>
