<div class="container">
  <h1 class="title-position">Mon compte CPF c'est quoi ?</h1>
  <div>
    <div class="w-25 center mb-3">
      <%= link_to "http://www.moncompteformation.gouv.fr" do %>
        <img src="https://travail-emploi.gouv.fr/IMG/png/cpf2.png" alt="moncompteformation.gouv.fr">
      <% end %>
    </div>
    <div>
      <h3 class="mt-5">CPF ? Explications !</h3>
      <p>Le Compte Personnel de Formation (anciennement DIF : Droit Individuel à la Formation) permet d’acquérir des droits à la formation durant toute sa vie active pour suivre une formation qualifiante et certifiante par le ministère du travail.</p>
      <p>Le CPF est accessible à partir de 16 ans jusqu’à la retraite y compris en période de chômage. Vous pouvez donc vous formez seul grâce à votre compte formation <a href="https://www.moncompteformation.gouv.fr">www.moncompteformation.gouv.fr</a>. Vous disposez d'une enveloppe budgétaire relative à votre nombre de mois travaillés en tant que salarié (déclaré bien sûr).</p>
      <p>L'enveloppe varie de 500 à 8 000 € selon le profil et est réalimentée tous les ans selon votre activité professionnelle. Nos formations sont toutes finançables par le CPF, ce qui permet de vous former et d’obtenir un diplôme reconnu par l’Etat.</p>
    </div>
    <div>
      <h3 class="mt-5 mb-3">Comment ça marche le CPF ?</h3>
      <div class="progress-container center mt-8">
        <div class="progress" id="progress"></div>
        <div class="circle">1</div>
        <div class="circle">2</div>
        <div class="circle">3</div>
      </div>
      <div class="row justify-content-around">
        <div class="col-4 card-process"><p class="text-justify">Créer son compte CPF sur <a href="https://www.moncompteformation.gouv.fr", class="strong-link">Mon Compte Formation</a> en suivant les étapes indiquées</p></div>
        <div class="col-4 card-process">Choisir sa <%= link_to 'formation', formations_path, class:"strong-link" %> sur notre site ekpa-france.com</div>
        <div class="col-4 card-process">Financer sa formation et valider son dossier sur la plateforme <a href="https://www.moncompteformation.gouv.fr", class="strong-link">Mon Compte Formation</a></div>
        <div class="col-12"> Vous n'aurez plus qu'à nous <%= link_to "contacter", contact_path, class:"text-primary" %></div>
      </div>
    </div>
    <div class="alert-info">
      <h3>A savoir !</h3>
      <p>Vous pouvez demander à votre employeur de vous financer votre formation. Votre employeur peut mobiliser auprès de son <strong class="text-primary">OPCO</strong> un dispositif de financement permettant de prendre en charge tout, ou une partie du montant de la formation que vous souhaitez suivre.</p>
      <p>Les services <strong class="text-primary">Pôle Emploi</strong> peuvent eux aussi débloquer des financements pour vous permettre de suivre une formation. La formation doit être en rapport à votre objectif professionnel. Plus simplement : la formation doit vous permettre de retrouver un emploi après l’obtention de votre diplôme (reconnu par l’Etat) !</p>
      <p>Pour connaître toutes les modalités de financement possibles, rapprochez-vous de votre conseiller Pôle Emploi.</p>
    </div>
    <%= render 'shared/contactduo'%>
  </div>
</div>
