<div class="banner-text">
  <div class="container">
    <h1 class="mb-3 text-white">EKPA France</h1>
    <div class="col-12 mb-3">
      <h4 class="title-highlight">Qui sommes-nous ?</h4>
      <p>Le projet du centre de formation EKPA FRANCE a été créé par deux jeunes entrepreneurs, motivés et engagés dans la volonté de rendre accessible la formation. Nous proposons des formations dans différents domaines et différents niveaux. Depuis la création de l’organisme en 2022, nous nous sommes engagés à offrir des formations de qualité qui ont été analysées puis sélectionnées avec soins sans oublier d’accompagner les apprenants vers l'excellence professionnelle.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mb-5">
    <div class="col-8">
      <h2 class="title-highlight mt-3"><i class="fa-solid fa-chess-rook"></i> Notre raison d'être</h2>
      <p>Notre objectif est d’augmenter l’égalité des chances en permettant d’accéder à l’éducation et à la formation afin de s’introduire dans le monde professionnel, mais également de pouvoir se réorienter vers de nouveaux défis. La formation est un levier important pour les entreprises mais aussi pour tout travailleur.</p>
      <p>Pouvoir affiner et approfondir ses connaissances relève de l'épanouissmenent personnel. C'est pourquoi l'Etat a mis en place ce Compte Personnel de Formation, un moyen de financement pour s'auto-former et rester compétitif sur le marché.</p>
      <h2 class="title-highlight mt-3"><i class="fa-solid fa-bullseye"></i> Notre ambition</h2>
      <p>Notre souhait, est de réduire les inégalités et les discriminations peu importe vos revenus, votre situation sociale car pour EKPA FRANCE, l’accès à la formation ne devrait pas avoir de prix, elle doit être accessible pour tous.</p>
      <p>Le CPF est une opportunité pour les personnes voulant acquérir de nouvelles compétences, c'est un moyen de pouvoir atteindre ses objectifs ou découvrir de nouveau horizons. Nous voulons élargir notre catalogue afin de diversifier les domaines mais aussi proposer des formats différents.</p>
      <h2 class="title-highlight mt-3"><i class="fa-solid fa-graduation-cap"></i> Notre pédagogie</h2>
      <p>EKPA croit en l'apprentissage en ligne interactif et personnalisé. Nos formations sont conçues pour offrir une expérience d'apprentissage engageante, combinant des ressources en ligne, de la pratiques et des évaluations pour mesurer les progrès des apprenants, le tout étant accompagnés par un professionnel.</p>
      <p>De plus, le fait que nos formations soient données en distanciel permettent aux apprenants de suivre les cours à leur propre rythme, adaptant leur emploi du temps en fonction de leurs contraintes personnelles ou professionnelles.</p>
    </div>
    <div class="col-4 img-full"></div>
  </div>
  <%= render 'shared/contactduo'%>
</div>
