<div class="banner-text">
  <div class="container">
    <h1 class="title-banner text-whit">EKPA France</h1>
    <div class="col-12 mb-3">
        <h2 class="title-highlight">Qui sommes-nous ?</h2>
        <p>Le projet du centre de formation EKPA FRANCE a été réalisé par 2 jeunes entrepreneurs âgés de 22 et 23 ans. L’un d’entre eux a eu la chance et les moyens d’aller dans une école privée prestigieuse et de réaliser un Master, tandis que l’autre a dû s’orienter rapidement dans le milieu professionnel pour des obligations financières.</p>
      </div>
  </div>
</div>
<div class="container">
  <div class="row mb-5">
    <div class="col-4">
      <h2 class="title-highlight">Notre raison d'être</h2>
      <p>Notre objectif a pour but d’augmenter l’égalité des chances en permettant d’accéder à l’éducation et à la formation afin de s’introduire dans le monde professionnel, mais également de pouvoir se réorienter vers de nouveaux horizons.</p>
    </div>
    <div class="col-4">
      <h2 class="title-highlight">Notre ambition</h2>
      <p>Notre souhait, est de réduire les inégalités et les discriminations peu importe vos revenus, votre situation sociale car pour EKPA FRANCE, l’accès à la formation ne devrait pas avoir de prix, elle doit être accessible pour TOUS</p>
    </div>
    <div class="col-4">
      <h2 class="title-highlight">Nos partenaires et références</h2>
      <p>Caliopi lorem lorem lorem Caliopi lorem lorem lorem Caliopi lorem lorem lorem Caliopi lorem lorem lorem</p>
    </div>
  </div>
  <%= render 'shared/contactduo'%>
</div>
