<div class="banner">
  <div>
    <h1 class="my-3">EKPA France vous accompagne dans vos projets de formation</h1>
  </div>
  <div>
    <p class="mt-5">Découvrez toutes nos formations</p>
    <%= link_to "Toutes les formations", formations_path, class:"btn-main" %>
  </div>
</div>
<div class="container">
  <div class="my-3" style="height:60vh;">
    <h2>Nos formations les plus demandées</h2>
  </div>
  <div style="height:60vh;">
    <h2 class="my-3">Nos certifications & labels</h2>
  </div>
</div>
