<div class="container">
  <h1 class="my-3">EKPA France vous accompagne dans vos projets de formation</h1>
  <p>Découvrez toutes nos formations</p>
  <%= link_to "Toutes les formations", formations_path, class:"btn-main" %>
  <div>
    <h2>Nos formations les plus demandées</h2>
  </div>
  <div>
    <h2>Nos certifications & labels</h2>
  </div>
</div>
