<h1>Toutes nos formations</h1>
<div class="row">
  <div class="col-6">
    <% @formations.each do |formation|%>
      <%= foramtion.title %>
      <%= foramtion.duree %>
      <%= foramtion.periode %>
  </div>
</div>
