.banner {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("https://images.unsplash.com/photo-1543269865-cbf427effbad?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  background-position: 75% 25%;
  padding: 120px 100px;
  margin: 0px;
  color: aliceblue;
  a {
    background-color: $blue;
    color: white;
    padding: 12px 20px;
  }

  img {
    height: 100%;
  }
}

.banner-show {
  height: 40vh;
  text-align: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.banner-title {
  color: white;
}

.banner-info {
  font-size: 1.4em;
  color: white;
}

.intro-medium {
  font-size: 1.2em;
}

.banner-text {
  padding: 3em 0em 3em 0em;
  color: white;
  background-color: rgba(52, 37, 120, 0.9);
  margin-bottom: 2em;
}
